@import url("https://fonts.googleapis.com/css?family=Raleway");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
            url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


*{
    box-sizing:border-box;
    font-family: Raleway;
}


.section-header{
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
}

.content-section{
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}


.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header{
    display: block;
    margin: 1.5em auto;
    color: azure;
    border: 2px solid purple;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0%;
    font-size: 1.2em;
    font-weight: lighter;
    padding-left: 1.8em;
    padding-right: 1.8em;
}
.btn-header:hover{
    background-color: rgba(255, 255, 255, 0.3);
}


.btn-primary{
    color:white;
    font-weight: bold;
    border-radius: .3em;
    border:none;
    background-color: purple;
}
.btn-primary:hover{
    background-color: rgba(128, 0, 128, 0.678);
}


.cart-header{
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(0, 228, 152); 
    
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    color: white;
}

.cart-row{
    display: flex;
}

.cart-item{
    width: 45%;
}

.cart-price{
    width: 25%;
    color: rgb(255, 255, 255);
    margin-left: .5em;
    font-size: 1.2em;
}
.cart-header.cart-price {
    color: white;
}

.cart-quantity{
    width:30%;
}
.cart-header.cart-quantity {
    color: white;
}
.no-right-margin {
    margin-right: 0 !important; 
}

.cart-item-image{
    height: 75px;
    border-radius: 10px;
}

.cart-item-title{
    color: rgb(0, 228, 152);
    margin-left: .5em;
    font-size: 1.2em;

}

.btn-danger{
    color: white;
    background-color:#ff0000;
    border: none;
    border-radius: .3em;
    font-weight: bold;

}

.btn-danger:hover{
    background-color: #ff2f2f;

}

.cart-empty {
	text-align: center;
	margin: 40px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 8px;
    color: rgb(0, 228, 152);
}


.cart-quantity-input{
    height: 34px;
    width: 50px;
    border: 1px solid rgb(0, 228, 152);
    border-radius: 5px;
    background-color: transparent;
    padding: 0;
    text-align: center;
    margin-right: 25px;
    font-size: 1.2em;
}

.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 50px;
}

.cart-total-title{
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(255, 249, 220);
    margin-right: 20px;
}

.cart-total-price{
    font-size: 1.2em;
    color: white;

}

.btn-purchase{
    display: block;
    margin: 40px auto 80px auto;
}

.cart-row:last-child{
    border-bottom: 1px solid white;
}

.cart-row:last-child .cart-column{
    border-bottom: 0;
}